.button-container {
  margin-top: 10px;
}

.button-container button {
  display: inline-block;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  background-color: #ffa500;
  border: 1px solid black;
  color: black;
  font-size: 14px;
}

button:hover {
  background-color: #ffd700;
  cursor: pointer;
}
